body, html {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    background-color: #2c2c2c;
    grid-template-columns: 11% 50%;
    grid-template-rows: 90% 10%;
    grid-template-areas: 
    'sidebar content content content content'
    'foot foot foot foot foot';  
}

.sidebar {
    grid-area: sidebar;
    background-color: #2c2c2c;
    position: relative;
}

.content {
    grid-area: content;
    background-color: white;
    position: relative;
    background-color: rgb(209, 209, 209); 
}

.foot {
    grid-area: foot;
    background-color: #202020;
    border-top: 1px solid gray;
    position: relative;
}

span#email {
    left: 2vh;
    top: 2vh;
    width: 15vh;
}

.quadros {
    position: absolute;
    width: 50vh;
    height: 30vh;
    box-shadow: 0vh 0vh 2vh rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    transition: 0.5s;
    background-color: white;
    padding: 1vh;
    font-family: sans-serif;
    font-size: 3vh;
    overflow: hidden;
}

.quadros.direita {
    left: 10vh;
}

.quadros.esquerda {
    left: 70vh;
    width: 93vh;
}

.quadros.esquerda.alto {
    width: 51vh;
}

.quadros.baixo {
    top: 55vh;
}

.quadros.alto {
    top: 20vh;
}

.quadros:hover {
    transform: scale(1.1);
}

h1#bem-vindo {
    position: absolute;
    font-family: sans-serif;
    left: 10vh;
    top: 0vh;
    font-size: 7vh;
}

.btn {
    background-color: #0078e9;
    transition: 0.5s;
    color: white;
    font-family: monospace;
    border: none;
    border-radius: 10px;
    width: 12vh;
    height: 4vh;
    position: absolute;
    bottom: 3vh;
    left: 3vh;
    cursor: pointer;
}

.btn.logout {
   background-color: red;
   left: 4.5vh;
}

.btn.logout:hover {
    background-color: rgb(150, 0, 0);
    transform: scale(1.1);
 }

.btn.add {
    position: absolute;
    right: 1vh;
    top: 1vh;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #004b91;
}

div#add-drop {
    position: absolute;
    right: 47vh;
    top: 19vh;
}

.btn.add {
    width: 30vh;
    height: 14.8vh;
    font-size: 12pt;
    font-family: sans-serif;
}

.btn.drop.sale {
    background-color: red;
    top: 18vh;
    width: 30.2vh;
    height: 15vh;
}

.btn.drop.sale:hover {
    background-color: #880101;
}

div#btn-add-drop {
    position: absolute;
    top: 9vh;
    right: 17vh;
}

input.btn.addproduct {
    position: absolute;
    left: -21vh;
    top: -7vh;
    width: 22vh;
}

input.btn.drop {
    background-color: red;
}

input.btn.drop:hover {
    background-color: #880101;
}

span {
    position: absolute;
    text-decoration: none;
    color: gray;
    left: 90vh;
    top: 2vh;
    font-family: sans-serif;
    transition: 0.5s;
    cursor: pointer;
}

span#create:hover {
    cursor: text;
}

img#instagram {
    position: absolute;
    width: 5vh;
    height: 5vh;
    right: 2vh;
    top: 3vh;
    transition: 0.5s;
}

img#instagram:hover {
    cursor: pointer;
    transform: scale(1.1);
}

img#linkedin {
    position: absolute;
    width: 5vh;
    height: 5vh;
    right: 10vh;
    top: 3vh;
    transition: 0.5s;
}

img#linkedin:hover {
    cursor: pointer;
    transform: scale(1.1);
}

span#email:hover {
    color: #0078e9;
}
  
.imagem {
    height: 4.5vh;
    margin-right: 10px;
    position: absolute;
    top: 20vh;
    left: 5vh;
    opacity: 35%;
}
  
.palavra-contact {
    font-size: 13pt;
    left: 11.4vh;
    top: 21vh;
    color: white;
}

span#email:hover {
    transform: scale(1.1);
}

img#github {
    position: absolute;
    width: 5vh;
    height: 5vh;
    right: 18vh;
    top: 3vh;
    transition: 0.5s;
}

img#github:hover {
    transform: scale(1.1);
    cursor: pointer;
}