input.ipt.register {
    background-color: #0078e9;
    height: 5.3vh;
    width: 25.3vh;
    color: white;
    font-family: monospace;
    top: 45vh;
    left: 22.6vh;
    transition: 0.5s;
    z-index: 1;
    padding: 0;
}

input.ipt.register:hover {
    background-color: #004b91;
    cursor: pointer;
    transform: scale(1.1);
}

span {
    position: absolute;
    top: 44vh;
    left: 13vh;
    color: gray;
    font-family: monospace;
    font-size: 10pt;
    transition: 0.5s;
}

span:hover {
    color: white;
}

div.credits{
    position: absolute;
    bottom: 2vh;
    left: 2vh;
    font-family: monospace;
    color: white;
}

input#button {
    top: 45vh;
}

.alert {
    position: absolute;
    color: #00ff4c;
    font-family: sans-serif;
    top: 25vh;
    left: 9vh;
}