<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/newpassword.css">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/newpassword.css') }}">
    <link rel="website icon" type="png" href="{{ url_for('static', filename='arts/Favicon.png')}}">
    <title>Recovery</title>
</head>

<body>
    <div id="div-logo">
        <img id="logo" src="../static/arts/Ryan Cruz.png" alt="logo">
    </div>
    <div id="container">
        {% set alert = get_flashed_messages()%}
        {% if alert:%}
            <div class="alert">{{ alert[0] }}</div>
        {% endif%}
        <form action="/" method="post">
            <p>
                <input type="email" name="email-cliente-name" class="ipt email" value="{{ email }}" readonly>
            </p>
            <p>
                <input type="password" name="ipt-new-password" class="ipt newpassword" placeholder="NEW PASSWORD">
            </p>
            <p>
                <input type="password" name="ipt-confirm" class="ipt password" placeholder="CONFIRM">
            </p>
            <input type="submit" value="SEND" class="ipt Send">
        </form>

    </div>
    <div class="credits">&copy; By Ryan Cruz</div>
</body>

</html>